<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:method="POST" th:action="@{/account/registration}" th:object="${user}">
    <label for="username">Username</label>
    <input type="text" th:field="*{userName}" id="username">
    <div style="color: red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username error</div>
    <label for="email">Email</label>
    <input type="email" th:field="*{email}" id="email">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <label for="password">Password</label>
    <input type="password" id="password" th:field="*{password}">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <input type="submit" value="Create account">

</form>
</body>
</html>